<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Search History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card [hidden]="searches == null">
    <ion-card-header>
      <ion-card-subtitle>Number of searches : {{ searches?.length }}</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
    <ion-item *ngFor="let item of searches" (click)="searchShodan(item)">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-card>

<ion-card [hidden]="searches != null">
  <ion-card-content>
    It seems that you haven't done any searches yet. This will be automatically updated with your searches.
  </ion-card-content>
</ion-card>
</ion-content>
