<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        About
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Additional information</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <h3>Additional information</h3><br />
        <p>This mobile application is fully open-source and has been created by <a href="https://www.twitter.com/PaulWebSec">@PaulWebSec</a>.<br />
        You can find the source code on <a href="https://github.com/PaulSec/Shodan.io-mobile-app/">https://github.com/PaulSec/Shodan.io-mobile-app/</a> and feel free to contribute to it!</p><br />
      <h3>Privacy Policy</h3><br />
      <p>You can find the privacy policy on Github here: <a href="https://github.com/PaulSec/Shodan.io-mobile-app/blob/master/privacy_policy.md">https://github.com/PaulSec/Shodan.io-mobile-app/blob/master/privacy_policy.md</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>