<ion-view view-title="Intro">
  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="!slideIndex">
      Skip Intro
    </button>
    <button class="button button-positive button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
      Previous
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right"> 
    <button class="button button-positive button-clear no-animation"
            ng-click="next()" ng-show="slideIndex != 3">
      Next
    </button>
    <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="slideIndex == 3">
      Explore!
    </button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
      <h4>Log into your Shodan account.</h4>
    </br ></br >
      <img class="screenshot" src="img/shodan.png">
    </ion-slide>
    <ion-slide>
      <h4>Get your API key there.</h4>
    </br ></br >
      <img class="screenshot" src="img/shodan2.png">
    </ion-slide>
    <ion-slide>
      <h4>And start exploring!</h4>
      <img class="screenshot-mobile" src="img/shodan3.png">
    </ion-slide>    
    <ion-slide>
    <div id="last-text">
      <h4>Any questions?</h4>
      <p>
        You can contact me on Twitter @PaulWebSec to ask for amelioration.
      </p>
      <p>
        I also maintain a Github reposity (@PaulSec) if you'd like to report a bug.
      </p>
    </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>
