<ion-view view-title="Host details">
    <ion-content class="padding">
        <!-- Information about the IP !-->
        <ui-gmap-google-map ng-if="doNotDisplayMap" center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        <div class="list card">
            <div class="item">
                
                <a class="item item-icon-left">
                <i class="icon ion-android-globe"></i>
                {{match.ip_str}}&nbsp;<i class="ion-ios-copy-outline" ng-click="copyToClipboard(match.ip_str)"></i><br/>
                <span class="additional-information">{{match.hostnames[0]}}</span>
                </a>
            </div>
            <div class="row">
                <div class="col">
                    Country
                </div>
                <div class="col">
                    {{match.country_name}} <img src="img/flags/{{match.country_code}}.png">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    City
                </div>
                <div class="col">
                    {{match.city === null && "N/A" || match.city}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Organization
                </div>
                <div class="col">
                    {{match.org === null && "N/A" || match.org}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    ISP
                </div>
                <div class="col">
                    {{match.isp === null && "N/A" || match.isp}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    ASN
                </div>
                <div class="col">
                    {{match.asn === null && "N/A" || match.asn}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Last Update
                </div>
                <div class="col">
                    {{match.last_update}}
                </div>
            </div>
        </div>

        <!-- Services open !-->
        <div class="list card">
            <div class="item">
                <a class="item item-icon-left">
                <i class="icon icon ion-android-apps"></i>
                Services
                </a>
            </div>
    
            <div class="item">
              <ion-list>
                <div ng-repeat="group in groups">
                  <ion-item class="item-stable"
                            ng-class="{active: isGroupShown(group)}">
                      <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'" ng-click="toggleGroup(group)"></i>
                    &nbsp;
                    {{group.name}} 
                    <i class="icon ion-link" ng-click="copyToClipboard(match.data[$index]._shodan.module+'://'+match.ip_str+group.name)" ng-show='group.items[0].indexOf("HTTP") > -1'>&nbsp;&nbsp;</i>
                    <i class="ion-ios-copy-outline" ng-click="copyToClipboard(match.ip_str + ':' + group.name)">&nbsp;&nbsp;</i>
                  </ion-item>
                  <div class="item item-accordion">
                  <ion-item class="item-accordion"
                            ng-show="isGroupShown(group)">
                    <pre>{{group.items[0]}}</pre>
                  </ion-item>
                </div>
              </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
