<ion-view view-title="Shodan.io">
  <ion-content class="padding">


    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="eg. Server: SQ-WEBCAM" ng-model="formData.search">
      </label>
    </div>

    <button class="button button-full btn-primary" ng-click="search()">
      Search
    </button>

  <div class="card">
    <div class="item item-divider">
      Top 5 Shodan Searches
    </div>
    <ion-list>
      <ion-item ng-repeat="query in popularQueries" href="#/tab/search/{{query.query}}" class="item-icon-right">
        <i class="icon ion-chevron-right icon-accessory"></i>
        <strong>{{query.query}}</strong><br />
        <span class="additional-information">{{query.description}}</span><br />
      </ion-item>
    </ion-list>
</div>
  </ion-content>
</ion-view>
