<ion-view view-title="Popular queries">
  <ion-content class="padding">

  <ion-list>
    <ion-item ng-repeat="query in popularQueries" href="#/tab/search2/{{query.query}}" class="item-icon-right">
      <i class="icon ion-chevron-right icon-accessory"></i>
      <strong>{{query.query}}</strong><br />
      <span class="additional-information">{{query.description}}</span><br />
    </ion-item>
  </ion-list>

  <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
