<ion-view view-title="Information">
  <ion-content class="padding">

  <div class="card">
    <div class="item item-text-wrap">
      My twitter handle is <strong>@PaulWebSec</strong>
      <br />
      Feel free to ping me if you find a bug.
      <br /><br />
      If you want to find the latest release, check out on my Github profile <strong>(@PaulSec)</strong>, where you'll be able to open issue/ask for requests.
      <br /><br />
      Shodan Mobile App is currently for Android, and iOS.
    </div>
  </div>
  </ion-content>
</ion-view>
