<ion-content>
    <ion-grid>
      <ion-row
       color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img src="/assets/icon/logo.png">
            <h3>Sign-in with your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input placeholder="Enter your API key" type="text" [(ngModel)]="apiKey"></ion-input>
            </ion-item>
          </div>
          <div text-center margin-top>
            <ion-button [disabled]="apiKey.length == 0" (click)="subscribe()">Log in</ion-button>
            <ion-button color="tertiary" (click)="signIn()">Sign in</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar text-center>
    <i>You can find your API key on Shodan website.</i>
  </ion-toolbar>
</ion-footer>