<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-button slot="end" (click)="addAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
        <ion-title>Network Alerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card [hidden]="alerts?.length > 0">
        <ion-card-content>You don't seem to have any network alerts set on Shodan.</ion-card-content>
    </ion-card>    
  <ion-card>
    <ion-card-content [hidden]="alerts?.length === 0">
    <ion-list>
      <ion-item *ngFor="let alert of alerts">
        <ion-button slot="end" (click)="dialogDelete(alert)"><ion-icon name="remove"></ion-icon></ion-button>
        <ion-label>
          <ion-row (click)="goToDetails(alert)">
            <ion-col>
              Name: {{alert.name}} ({{alert.id}})
            </ion-col>
            <ion-col>
              Created: {{alert.created}}
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>      
    </ion-card-content>
  </ion-card>
</ion-content>
